<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        {{>header}}
        <h1>Help</h1>
        <p>This is {{name}} my age was {{age}},Here me for your help.</p>
         {{>footer}}
    </body>
</html>